<h1 class="text-center">Edit  <%= @drummer.name %></h1>
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <%= cl_image_tag(@drummer.picture, :width => 200, :height => 200, :crop => :thumb, :gravity => :face, :radius => :max, class: "img-circle") %>
    <%= render 'drummer_form' %>

    <h3>Assignate a new drum</h3>
    <%= simple_form_for [ @drummer, @drum ] do |f| %>
    <%= f.input :picture %>
    <%= f.button :submit , class: "btn-info btn-block" %>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <% @drums.each do |drum|  %>
      <div class="form-group">
        <%= cl_image_tag(drum.picture, class: "img-responsive img-thumbnail") %>
        <%= link_to icon('trash') + " Remove Drum", drum_path(drum) , method: :delete , class: "btn btn-danger btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 form-group">
    <%= link_to icon('trash') + " Remove "+@drummer.name, drummer_path(@drummer.id) , method: :delete , class: "btn btn-danger btn-block" %>
  </div>
</div>
