<h1>Edit <%= @drummer.name %></h1>
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <%= render 'form' %>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <%= simple_form_for [ @drummer, @drum ] do |ff| %>
      <%= ff.input :picture %>
      <%= ff.button :submit , class: "btn-info btn-block" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <%= link_to "Remove", drummer_path(@drummer.id) , method: :delete , class: "btn btn-danger btn-block" %>
  </div>
</div>
