<h2 class="center">Whose drum is that ?</h2>

<h3 class="center"><span class="label label-pill label-primary center">Level : <%= @lvl %></span></h3>
<h3 class="center">
  <%= cl_image_tag(@drum.first.picture, width: 500, class: "img-thumbnail") %>
</h3>

<div class="row center">
  <%= form_tag('/check') %>

  <%= hidden_field_tag 'lvl', @lvl %>
  <%= hidden_field_tag 'drum', @drum.first.id %>

  <div class="btn-group" data-toggle="buttons">
    <% @drummers.each do |drummer| %>
      <label class="btn btn-secondary">
        <%= cl_image_tag(drummer.picture, :width => 90, :height => 90,
              :crop => :thumb, :gravity => :face, :radius => :max, class: "img-circle") %>
        <%= radio_button_tag 'id', drummer.id %>
        <p><%= drummer.name %></p>
      </label>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 lvl">
    <progress class="progress" value="<%= @lvl %>" max="100"><%= @lvl %>%</progress>
  </div>
</div>
