<div class="row">
  <h2 class="text-center">Whose drum is that ? <small>Level : <%= @lvl %></small></h2>
</div>

<div class="row drum">
  <%= cl_image_tag(@drum.first.picture, width: 500, class: "img-thumbnail") %>
</div>


<div class="row text-center">
  <%= form_tag('/check') %>

  <%= hidden_field_tag 'lvl', @lvl %>
  <%= hidden_field_tag 'drum', @drum.first.id %>

  <div class="btn-group form-group" data-toggle="buttons">
    <% @drummers.each do |drummer| %>
      <label class="btn btn-default">
        <%= radio_button_tag 'id', drummer.id, class: "btn btn-default" %>
        <%= drummer.name %>
        <%= cl_image_tag(drummer.picture, :width => 70, :height => 70,
              :crop => :thumb, :gravity => :face, :radius => :max, class: "img-circle") %>
      </label>
    <% end %>
  </div>
  <div class="form-group">
    <%= submit_tag "OK", class: "btn btn-primary btn-lg"    %>
  </div>
</div>
