<h3 class="text-xs-center">Whose drum is this ?</h3>

<h4 class="text-xs-center"><span class="label label-pill label-primary center animated flash">Level : <%= @lvl %></span></h4>

<div class="row form-group">
  <div class="col-md-12">
    <%= cl_image_tag(@drum.picture, width: 500, class: "img-thumbnail img-fluid center-block animated fadeIn") %>
  </div>
</div>

<div class="row center" data-toggle="buttons">
  <div class="col-xs-12">
    <%= form_tag('/check') %>
      <%= hidden_field_tag 'lvl', @lvl %>
      <%= hidden_field_tag 'drum', @drum.id %>

      <div class="btn-group" data-toggle="buttons">
        <% @drummers.each do |drummer| %>

          <label class="btn btn-secondary btn-drummer">
            <%= cl_image_tag(drummer.picture, :width => 70, :height => 70,
                  :crop => :thumb, :gravity => :face, :radius => :max, :effect => "saturation:-100", class: "img-circle img-fluid center-block animated fadeIn") %>
            <%= radio_button_tag 'id', drummer.id %>
            <p class="small"><%= drummer.name %></p>
          </label>
        <% end %>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 lvl">
    <progress class="progress animated flipInX" value="<%= @lvl %>" max="30"><%= @lvl %>%</progress>
  </div>
</div>
