<!DOCTYPE html>
<html>
<head>
  <title>DrumsNDrummers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render template: "layouts/nav" %>

  <div class="container">

    <% if flash [ :notice ] %>
      <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash [ :notice ] %>
      </div>
    <% end %>

    <% if flash [ :alert ] %>
      <div class="alert alert-error fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= flash [ :alert ] %>
      </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
